.header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.4);
    padding: 20px;
    border-bottom: 1px solid #dadada;
    font-weight: bold;
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
}
.editor{
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
}
.editor-container{
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: #E9E9E9;
}
.title i{
    margin-right: 10px;
}
.title div{
    display: inline-block;
}
i{
    margin-left: 10px;
}
button{
    margin: 0 3px;
}