img{
  max-width: 100%;
}
.article-wrapper{
  flex-basis: 33.33%;
  padding: 15px;
}
.article{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 7px -2px rgba(0,0,0,0.4);
  min-height: 100%;
}
/* .img{
  flex-basis: 300px;
} */
.article img{
  display: block;
  max-width: 100%;
}
.content{
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.content div:first-child{
  flex: 1;
  padding: 10px;
}
.toolbox{
  background-color: #f3f3f3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbox a{
  color: #12439d;
  margin: 0 8px;
}